<div class="card mb-3 hover-shadow">
  <div class="row no-gutters d-flex align-items-center">

    <div class="col-md-2 text-center">
      <span class="chart-number">{{index + 1}}</span>
    </div>

    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">{{event.name}}</h5>
      </div>
    </div>

    <div class="col-md-4 position-relative">
      <span class="badge badge-secondary position-absolute mt-1 ml-1 event-type-badge">{{event.eventType}}</span>
      <img src="{{event.imageUrl}}" class="card-img rounded-0" alt="...">
    </div>
  </div>
</div>
<style>


</style>
